/* 

    Body

*/
/* *:hover {
    display: none;
} */
body {
    font-family: alfabet, sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    margin: 0;
}
    .bold-text {
        font-weight: 600;
        padding-top: 10px;
        padding-bottom: 10px;

    }
    .show {
        display: flex !important;
    }



/* 

    Nav bar

*/
/* The side navigation menu */
nav {
    width: 100%;
    background-color: #214a80;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - endres med javascript */
    position: fixed; 
    z-index: 1;
    top: 0; /* Alltid på toppen */
    left: 0;
    background-color: #141414 ; 
    overflow-x: hidden; /* Slår av scrolling */
    padding-top: 60px; 
    transition: 0.5s; /* 0.5 transition effect */
}
    
    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 28px;
        color: #818181;
        display: block;
        transition: 0.3s;
        margin: 5px;
    }
    
    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: #f1f1f1;
    }
  
    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
  
 
    
    .Cookie-menu {
        display: block;
        width: 80px;
        height: auto;
        margin-right: 20px;
        margin-left: 20px;

        transition: 0.5s;
    }
    .Cookie-menu:hover {
        scale: 1.1;
    }
    .Cookie-menu:active {
        scale: 0.9;
        transition: 0.09s;
    }
/* Hamburger icon */
    .Ham-icon-1,
    .Ham-icon-2,
    .Ham-icon-3 {
        display: block;
        width: 35px;
        height: 5px;
        background-color: #141414;
        margin: 6px 0;
        transition: 0.4s;
        margin-left: 20px;
        margin-right: 20px;

        
    }
    .Ham-icon {
        display: none;
    }
    .change .Ham-icon-1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .change .Ham-icon-2 {
        opacity: 0;
    }

    .change .Ham-icon-3 {
        transform: translate(0, -11px) rotate(45deg);
    }
    /* On smaller screens less padding and a smaller font size */
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
        /* Hamburger icon instead of cookie button */
        .Ham-icon {display: block;}
        .Cookie-menu {display: none;}
    }

    /* Back to the game */
    .Maingamelink {
        font-size: 30px;
        margin: 10px;
        color: #f1f1f1;
        transition: 1s;
        text-decoration: none;
    }
    .Maingamelink:hover {
        font-size: 30px;
        margin: 10px;
        color: #f1f1f1;
        text-decoration: underline;
        scale: 1.1;
    }
    .Maingamelink:active{
        scale: 0.9;
    }
/*

Main Game

*/

#main-game {
    width: 100%;
    height: 95vh;
    background-color: #d5b194;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    .main-game-info {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

    }
        .main-game-info h2 {
            text-align: center;
            margin: 6px 2px ;
        }
        .prestige-btn {
            padding: 8px 32px;
            color: #1A061F;
            border: #1A061F solid 1px;
            background-color: #EAE7EA;
        }
        .prestige-btn:hover {
            padding: 8px 32px;
            color: #EAE7EA;
            background-color: #1A061F;
        }
 
    .clicker-biscuit{
        width: 15%;
        height: auto;
        transition: 0.2s;
    }
        .clicker-biscuit:hover {
            scale: 1.1;
        }
        .clicker-biscuit:active {
            scale: 0.9;
        }
  
#upgrade-menu {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #A66941 ;
    display: flex;
    justify-content: center;
}
    #The-upgrades-menu {
        display: flex;
        justify-content: center;
        width: 45%;
        flex-direction: column;
        height: fit-content;
    }
        .upgrade {
            width: 100%;
            height: 150px;
            display: flex;
            align-items: center;
            margin: 10px;
            background-color: #1A061F;
            border-radius: 25px;
            color: white;
        }
            .upgradeheadline {
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 10px;
            }
                .upgradeheadline p{
                    margin: 0.5rem;

                }
                .upgradeheadline h2{
                    margin: 0.5rem;
                }
            .upgrade button{
                width: 30%;
                height: 100%;
                border: none;
                background-color: #EAE7EA ;
                border-radius: 0;
            } 
            .upgrade button:hover {
                background-color: #6a8283;
                color: #EAE7EA;

            }
    @media screen and (max-width: 900px) {
        #The-upgrades-menu {
            width: 70%;
        }
    }
/*

Login


*/
.login-dark {
    height: 90vh;
    background:#d5b194;
    background-size:cover;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    }
  
  .login-dark form {
    max-width:320px;
    width:90%;
    background-color:#785a50;
    padding:40px;
    border-radius:4px;
    /* transform:translate(-50%, -50%);
     position:absolute;
    top:50%;
    left:50%; */
    color:#1A061F !important;
    box-shadow:3px 3px 4px rgba(0,0,0,0.2);
    max-height: 90%;
    overflow: auto;
  }
  
  .login-dark .illustration {
    text-align:center;
    /* padding: 15px 0 20px; */
    font-size:100px;
    color:#1f2f45;
    background-color: #Eae7ea;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .login-dark form .form-control {
    /* background: none; 
    border:none; 
    border-bottom:1px solid #1a061f; */
    border-radius: 10px;
    box-shadow:none;
    outline:none;
    color:inherit;
  }
  .login-dark form .btn-primary {
    background:#214a80;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:26px;
    text-shadow:none;
    outline:none;
  }
  
  .login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
    background:#214a80;
    outline:none;
  }
  
  .login-dark form .forgot {
    display:block;
    text-align:center;
    font-size: 12px;
    color:#Eae7ea;
    opacity:0.9;
    text-decoration:none;
  }
  
  .login-dark form .forgot:hover, .login-dark form .forgot:active {
    opacity:1;
    text-decoration:none;
  }
  
  .login-dark form .btn-primary:active {
    transform:translateY(1px);
  }
  /* Lagt til: */
  .login-dark p {
    font-size: larger;
  }
/*

Settings

*/
.Settings-container {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5b194;
}
    .Settings-form {
        width: 50%;
        height: fit-content;
        background-color: #214a80;
        padding: 20px;   
        border-radius: 9px;
    }
    .Settings-form h1 {
        font-size: 34px;
        color: #Eae7ea;
        width: 90%;
        border-bottom: 2px #Eae7ea solid;
        padding: 5px;
    }
    .Settings-form .form-check-input:checked {
        background-color: #33f821 !important;
        border: #33f821 !important;
        color: #141414;
    }
/*

Items


*/
.items-wrapper {
    width: 100%;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #d5b194;
}
.items-wrapper h1{
    width: 90%;
    text-align: left;
    border-bottom: #141414 solid 2px;
    padding: 5px;
    margin-bottom: 25px;
}
    .items-mcontainer {
        width: 90%;
        height: max-content;
        align-content: flex-start;
        padding: 10px;
    }

  
    #items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .item-container {
        padding: 25px;
        border-radius: 25px;
        border: #Eae7ea 15px solid;
        background-color: #214a80;
        width: 350px;
        text-align: center;
        margin: 20px;
    }
    .item-container h2{
        padding: 8px;
        border-bottom: #Eae7ea solid 2px;
        color: #Eae7ea;
    }
    .item-container img{
        color: #Eae7ea;
        font-size: 1rem;
    }
    .item-container p{
        color: #Eae7ea;
        font-size: 1rem;

    }
    .item-container label{
        color: #Eae7ea;
        font-size: 1rem;

    }
    @media screen and (max-width: 900px) {
        #items {align-items: center; justify-content: center; flex-direction: column;}
    
    }

/*


Summons


*/

#Summons {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 1000px;
}
    #result-text {
        padding: 60px 40px;
        text-align: center;
    }
    .animation {
        animation: yourmom 3s;
    }
    
    @keyframes yourmom {
        0% {
            padding: 280px 410px;
            background-color: #FFFD91;
            color: transparent;
        }
        30% {
            background-color: #ADD8E6;
        }
        60% {
            background-color: #1A061F;
        }
        85% {
            color: transparent;
            padding: 60px 40px;
            background-color: #ADD8E6;
        }
        100% {
            
            color: #141414;
            padding-top: 55px;
            padding-right: 600px;
            padding-left: 600px;
            padding-bottom: 600px;


        }
    }
/*


footer  


*/
.footer-wrapping {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A061F;
}
    .footer-link {
        color: #Eae7ea;
        letter-spacing: 10px;
        text-decoration: none;

    }
    .footer-link:hover {
        text-decoration: underline;
        color: #Eae7ea;
        letter-spacing: 10px;
    }
    .footer-title {
        display: none;
    }
    @media screen and (max-width: 900px) {
        .footer-link {letter-spacing: 1px;}
        .footer-link:hover {letter-spacing: 1px;}

    }